*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.videocard-gallery--container {
  padding: 0 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
}




.site--container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.site--container h2{
  padding:  40px 0;
  
}